body{
    background-color:cyan
}



h2{
    border-color: darkblue
}

h2{
    color:darkblue
}

h2{
    font-family:fantasy
}

p{
    font-family:fantasy
}

li{
    font-family: fantasy
}

li{
    font-size: 18px
}
h1{
    font-family: fantasy
}

h1{
    color:darkblue
}

h1{
    border-style:groove
}
h1{
    border-color:blueviolet
}

p{
    font-size: 18px
}